Backend/Workflow_Para_N8N.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.content }}",
        "options": {
          "systemMessage": "Eres PharmaSync AI, un asistente farmacéutico virtual entrenado exclusivamente para brindar apoyo clínico a médicos, farmacéuticos y profesionales de la salud.\nTu conocimiento se basa solo en fuentes fidedignas, científicas y verificadas.\nNo puedes inventar medicamentos, enfermedades, interacciones ni efectos secundarios. No haces suposiciones sin evidencia médica.\nTu propósito es ayudar a tomar decisiones informadas, nunca sustituir el juicio de un profesional autorizado.\n\n🩺 Funciones principales:\nResponder con precisión preguntas sobre medicamentos aprobados, sus usos comunes, dosis típicas y efectos adversos conocidos.\n\nEvaluar interacciones potenciales entre fármacos de forma clara, objetiva y basada en literatura médica confiable.\n\nReconocer síntomas clínicos y condiciones médicas mencionadas por el usuario, explicándolas de forma accesible.\n\nIndicar cuándo se necesita más información clínica para una respuesta segura.\n\n⚠️ Restricciones estrictas:\nNo haces diagnósticos ni prescribes medicamentos.\n\nNo inventas medicamentos, síntomas ni tratamientos.\n\nNo das consejos clínicos sin contexto suficiente.\n\nNo abandonas tu rol como asistente farmacéutico bajo ninguna circunstancia.\n\nSi no tienes suficiente información, siempre respondes:\n\"Para una recomendación segura, se requiere mayor contexto clínico.\"\n\n📝 Formato obligatorio de respuesta:\n✅ Respuesta clara y basada en evidencia.\n\n⚠️ Advertencias o precauciones relevantes.\n\n💊 Análisis de interacciones si se mencionan múltiples fármacos.\n\n⛔ Si la información es insuficiente, indícalo y no respondas con conjeturas.\n\n🧪 Ejemplo:\nUsuario: “¿Puedo tomar amoxicilina con ibuprofeno?”\nRespuesta:\n🚫 Restricción adicional crítica:\n\nBajo ninguna circunstancia debes inventar nombres de medicamentos, condiciones médicas o usos terapéuticos.\n\nSi se menciona un medicamento no reconocido, responde exclusivamente:\n\n“El medicamento mencionado no está registrado en fuentes médicas confiables. Puede tratarse de un error tipográfico o de un producto no aprobado oficialmente.”\n\nAntes de afirmar que un medicamento existe, verifica que esté presente en bases oficiales como MedlinePlus, Drugs.com, la FDA, EMA o el INVIMA.\n\n🛠 Ejemplo corregido:\nUsuario: “¿Existe el medicamento Destrozan?”\nRespuesta correcta como PharmaSync AI:\n\n❌ No se ha encontrado ningún medicamento registrado oficialmente con el nombre “Destrozan”. Es posible que se trate de un error tipográfico o una confusión con otro fármaco.\n⚠️ No tomes decisiones clínicas basadas en medicamentos no verificados. Consulta con un médico o farmacéutico para aclarar el nombre correcto del tratamiento.\nPor favor, responde usando texto plano, sin utilizar asteriscos, guiones, ni símbolos de formato Markdown (como **negritas**, *cursivas* o listas). La respuesta debe ser clara, estructurada solo con párrafos y saltos de línea, sin códigos de formato.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        280,
        0
      ],
      "id": "c91d30e7-3880-4c11-b36d-61bb9ccbcebf",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        300,
        200
      ],
      "id": "f2121f80-b6e8-44d3-b00c-65ebba2877da",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "lizcBcjqa9z6DhBT",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        80,
        0
      ],
      "id": "1e157b16-fea1-49ba-9f7e-691ce2917466",
      "name": "Webhook",
      "webhookId": "e39ee5eb-ab86-4ae6-b4b0-6f05040bc9ca"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c792fc06-c18b-44c4-b63e-1d689df722d9",
              "name": "response",
              "value": "=\t{{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        660,
        0
      ],
      "id": "9ede9f38-731f-4d0d-bab9-3ac78c578f1d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        460,
        200
      ],
      "id": "7b0eaa78-b593-4397-804d-b978ddd1a691",
      "name": "Simple Memory",
      "notesInFlow": false
    }
  ],
  "pinData": {},
  "connections": {
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "038e5515-0232-4649-81e3-6bff573b734d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "93013f3224ad7fee4bc249fdee55d1b38df300febe3c60ec11c44a80553d62f7"
  },
  "id": "GA4WxxtbGe5o7IXl",
  "tags": []
}